
<p class="text-center">
    <a id="submission-format-control" class="arrow" data-bs-toggle="collapse" href="#submission-format" role="button" aria-expanded="false"
       aria-controls="submission-format">
        {{ "new.submission_requirements"|trans({}, "submission") }}
    </a>
</p>
<div class="collapse" id="submission-format">
    <div class="tile mw-text m-auto">
        {% include 'submission/submission_format_23.html' %}
    </div>
</div>
