<p>
    For each run, we expect predictions with <b>at least 99% coverage</b> of the true sequence. Otherwise, the score
    is automatically set to 0.
</p>

<p class="mb-0">
    Please provide your predictions in the following <b>TUM</b> format, as <b>txt</b> files:
</p>
<pre class="bg-white"><code class="text-code"># timestamp tx ty tz qx qy qz qw
3.203206000 36.590369213407 20.590643132007777 1.0689564912774379 0.5535908802480165 0.019600312588779718 -0.1391577027984992 0.8208459653336264</code></pre>

<p class="mb-0">
    Each file must be named as::
</p>
<pre class="mb-2 bg-white"><code class="text-code">floor_X_YYYY-MM-DD_run_Z.txt</code></pre>

<p class="mb-0">
    where:
</p>

<ul>
    <li><code>X</code> is the floor identifier, e.g. <code>1</code>, <code>2</code>, <code>EG</code>, <code>UG1</code>
        or <code>UG2</code></li>
    <li><code>YYYY-MM-DD</code> are the year, month and day of the run respectively, e.g. <code>2026-01-01</code></li>
    <li><code>Z</code> is the run, e.g. <code>1</code> or <code>2</code></li>
</ul>

<p>
    More about the dataset and the submission format on
    <a href="https://github.com/Hilti-Research/hilti-trimble-slam-challenge-2026" target="_blank">
        GitHub</a>.
</p>
