@font-face {
    font-family: 'Hilti';
    src: url('Hilti-Roman.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hilti';
    src: url('Hilti-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

