
@font-face {
    font-family: 'Hilti';
    font-display: swap;
    font-weight: bold;
    src: url('HiltiBold-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Hilti';
    font-display: swap;
    font-weight: normal;
    src: url('HiltiRoman-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'iconfont';
    font-display: swap;
    font-weight: normal;
    src: url('iconfont.woff2') format('woff2');
}
