$brand-red: #d2051e;
$brand-dark-red: #671a3d;
$brand-dark: #524f53;

$alert-padding-y: 0.5rem;
$alert-border-width: 0;
$alert-margin-bottom: 0;
$border-radius: 0;

$primary: $brand-red;

// choose new colors relative to brand color
$blue: #423372;
$red: $brand-red;
$orange: #a66d3d;
$yellow: #a6943d;
$green: #318531;
$cyan: #256464;

$font-family-sans-serif: 'Hilti', Arial, Helvetica, sans-serif;
@import '~bootstrap/scss/bootstrap';

:root {
    --brand-red: #d2051e;
    --brand-dark-red: #671a3d;
    --brand-dark: #524f53;
    --brand-light: #f1eee8;
    --brand-lighter: #F7F5F2;

    --max-width-xl: 1140px;
    --max-width-md: 720px;

    --size-section: 3.125rem;
    --size-h1: 2.0625rem;
    --size-h2: 1.375rem;
    --size-h3: 1.125rem;
    --size-p: .9375rem;
    --size-p-secondary: .8125rem;

    --spacer-sm: .6875rem;
}
$shadow: 2px 4px 6px 0 rgb(0 0 0 / 16%);

@import '../fonts/stylesheet.css';
@import 'layout';
@import 'pyro';
@import 'utils';
@import 'hilti-typography';
@import 'hilti-navbar';
@import 'hilti-core';


// stylelint-disable-next-line selector-no-qualifying-type
label.required::after {
  color: $red;
  content: '* ';
}

.col-form-label {
  padding-top: 0; // to align with normal form elements
}

.text-code {
    color: $code-color
}
