
html,
body {
    background: #fff;
    font-size: 15px;

    font-family: "Hilti", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin-bottom: var(--spacer-sm);
}

h1 {
    text-transform: uppercase;

    color: var(--brand-red);
    font-size: var(--size-h1);
    font-weight: normal;
    line-height: var(--size-h1);
}

h2 {
    text-transform: uppercase;

    color: var(--brand-red);
    font-size: var(--size-h2);
    line-height: var(--size-h2);
}

.subtitle {
    text-transform: none;

    color: var(--brand-dark-red);
    font-size: var(--size-h3);
    line-height: var(--size-h3);
}

h3, .nav-item {
    color: var(--brand-dark);
    font-weight: bold;
    font-size: var(--size-h3);
    line-height: var(--size-h2);
}

.section-spacer {
    margin-top: calc(3 * var(--size-section));
    margin-bottom: var(--size-section);
}

.section-title {
    text-transform: uppercase;

    color: var(--brand-red);
    font-size: var(--size-section);
    line-height: var(--size-section);
}

p, .dropdown-item, ul li {
    color: var(--brand-dark);
    font-size: var(--size-p);
    line-height: var(--size-h2);
}

.text-secondary {
    font-size: var(--size-p-secondary);
}

p {
    margin-bottom: var(--size-h2);
}

a {
    font-weight: bold;
    color: var(--brand-dark);
    text-decoration: none;
}

.text-secondary a {
    font-weight: normal;
    text-decoration: underline;
}

a:hover {
    color: var(--brand-red);
}

.arrow::after {
    position: relative;
    top: 0.1em;
    color: var(--brand-red);
    font-family: iconfont;
    content: "î¨„";
    display: inline-block;
    font-size: 0.8em;
    font-weight: 200;
    margin-left: 0.5em;
    transition: all 0.5s;
}

.arrow:hover::after {
    margin-left: 1em;
}

pre {
    background-color: var(--brand-lighter);
    padding: var(--spacer-sm);
}

.table > :not(caption) > * > * {
    color: var(--brand-dark);
    font-size: var(--size-p);
    line-height: var(--size-h2);
}

.table > :not(caption) > * > th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--size-p-secondary);
    line-height: var(--size-p);
    padding: .3rem .5rem;
}
