.hero-description {
  padding: 5em 0;
  position: relative;
  z-index: 1;
}

.hero-image {
  display: block;
  position: relative;
}

.hero-image::before {
  background: linear-gradient(to right, #fff 0, rgb(255 255 255 / 0%) 100%);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 34%;
  z-index: 10;
}

.hero-image::after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform: skewX(-30deg);
  transform-origin: right top;
  width: 40%;
}

.hero-image img {
  max-width: 100%;
}
