html,
body {
    height: 100%;
}

.alert {
    font-size: 0.8em;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-content {
    flex: 1;
}

//center layout for messages & easy forms
.center-wrapper {
    align-items: center;
    display: flex;
    min-height: 100%;
}

.center-content {
    margin: 40px auto;
    max-width: 540px;
    width: 100%;
}

.center-content.wide {
    max-width: 700px;
}

.center-content-primary {
    background: $white;
    padding: 2rem 2rem 1rem;

    > *:last-child {
        margin-bottom: 0;
    }
}

.center-content-secondary {
    padding: 1rem 2rem;
}

.content {
    margin-top: 1em;

    > *:last-child {
        margin-bottom: 0;
    }
}

.tile {
    background-color: rgb(125 117 101 / 5%);
    box-shadow: $shadow;
    padding: 1em;

    > *:last-child {
        margin-bottom: 0;
    }
}

.admin-wrapper {
    padding: 1em;
}
