@use 'sass:math';

/* stylelint-disable */
$particles: 20;
$width: 500;
$height: 500;

$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    math.random($width) -$width / 2 + px
    math.random($height) -$height / 1.2 + px
    $brand-red;
  $box-shadow2: $box-shadow2, 0 0 $brand-dark-red;
}

@mixin keyframes ($animationName) {
  @keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay ($settings) {
  animation-delay: $settings;
  animation-delay: $settings;
  animation-delay: $settings;
  animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration ($settings) {
  animation-duration: $settings;
  animation-duration: $settings;
  animation-duration: $settings;
  animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation ($settings) {
  animation: $settings;
  animation: $settings;
  animation: $settings;
  animation: $settings;
  animation: $settings;
}

@mixin transform ($settings) {
  transform: $settings;
  transform: $settings;
  transform: $settings;
  transform: $settings;
  transform: $settings;
}

.pyro > .before,
.pyro > .after {
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));

  border-radius: 50%;
  box-shadow: $box-shadow2;
  height: 5px;
  position: absolute;
  width: 5px;
  z-index: 100;
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));

    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-left: 40%;
    margin-top: 10%;
  }

  20%,
  39.9% {
    margin-left: 30%;
    margin-top: 40%;
  }

  40%,
  59.9% {
    margin-left: 70%;
    margin-top: 20%;
  }

  60%,
  79.9% {
    margin-left: 20%;
    margin-top: 30%;
  }

  80%,
  99.9% {
    margin-left: 80%;
    margin-top: 30%;
  }
}
