.pt-10 {
  padding-top: 10em;
}

.pb-10 {
  padding-bottom: 10em;
}

.text-tiny {
  font-size: 0.5em;
}

.text-invisible {
  opacity: 0.2;
}

.w-3em {
  display: inline-block;
  width: 3em;
}

.w-22em {
  display: inline-block;
  width: 25em;
}

.minimal-width {
    white-space: nowrap;
    width: 1%;
}

.text-sm {
    font-size: 0.8em;
}

.inline-icon {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.2em;
    vertical-align: center;
}

.mw-text {
    max-width: 47em;
}

.bump-z-index {
    position: relative;
    z-index: 1;
}
