.pt-10 {
  padding-top: 10em;
}

.pb-10 {
  padding-bottom: 10em;
}

.text-tiny {
  font-size: 0.5em;
}

.text-invisible {
  opacity: 0.2;
}

.w-3em {
  display: inline-block;
  width: 3em;
}

.w-22em {
  display: inline-block;
  width: 25em;
}
